In [2]:
import tensorflow as tf
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import pandas as pd

In [26]:
def load_data(data_path = "dataF8k/captions.txt"):
    return pd.read_csv(data_path, header = 0)

data = load_data()
print("number of captions:", data.shape[0])
data.head()

number of captions: 40455

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...

In [27]:
# add unique start word ">>>" (stop word = "." already present in data)
data["caption_with_start"] = ">>> " + data["caption"].str.lower()
# data.head()

In [28]:
tokenizer = tf.keras.preprocessing.text.Tokenizer(filters = '') # don't filter punctuation
tokenizer.fit_on_texts(data["caption_with_start"])

count_thres = 5
low_count_words = [w for w,c in tokenizer.word_counts.items() if c < count_thres]
for w in low_count_words:
    del tokenizer.word_index[w]
    del tokenizer.word_docs[w]
    del tokenizer.word_counts[w]

data["token_caption"] = tokenizer.texts_to_sequences(data["caption_with_start"])
data.head()

,image,caption,caption_with_start,token_caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...,>>> a child in a pink dress is climbing up a s...,"[2, 1, 43, 4, 1, 91, 171, 7, 120, 54, 1, 397, ..."
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .,>>> a girl going into a wooden building .,"[2, 1, 19, 316, 65, 1, 195, 118, 3]"
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .,>>> a little girl climbing into a wooden playh...,"[2, 1, 41, 19, 120, 65, 1, 195, 2437, 3]"
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...,>>> a little girl climbing the stairs to her p...,"[2, 1, 41, 19, 120, 5, 394, 21, 61, 2437, 3]"
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...,>>> a little girl in a pink dress going into a...,"[2, 1, 41, 19, 4, 1, 91, 171, 316, 65, 1, 195, 3]"

In [29]:
data["caption_from_token"] = tokenizer.sequences_to_texts(data["token_caption"])
print("number of captions with removed words:" , (data.query('caption_from_token != caption_with_start').shape[0]))

number of captions with removed words: 8000